body {
    margin: 0; /* Fjerner standard margin */
    padding: 0; /* Fjerner standard padding */
    overflow: hidden; /* Forhindrer scrollbars */
    font-family: montserrat;
    }
    /* Videoen fylder hele skærmen */
    #stjernehob video {
    position: fixed; /* Fikseret i baggrunden */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fylder hele skærmen uden at strække */
    z-index: -1; /* Sørger for at alt andet ligger ovenpå */
    }
    #stjernehob img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    }
    #stjernehobBtn{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    color:white;
    border: 1px solid white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    }

    #stjernehobBtn.visible {
    opacity: 1;
    pointer-events: auto;
    }

    #motion1 {
        margin-top: 20px;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        height: 85%;
    }   

    #motion1 video {
        width: auto;
        height: 100%;
    }

    #kryds {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px; /* størrelse på krydset */
        height: 30px;
        cursor: pointer;
        display: none; /* starter skjult */
    }
    
        #taageBtn{
    position: absolute;
    top: 85%;
    left: 66.8%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    color:white;
    border: 1px solid white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    }

    #supernovaBtn{
        position: absolute;
        top: 85%;
        left: 36%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0);
        color:white;
        border: 1px solid white;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        }
    
    /* Videoen fylder hele skærmen */
    #stjernemotion video {
    position: fixed; /* Fikseret i baggrunden */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fylder hele skærmen uden at strække */
    z-index: -1; /* Sørger for at alt andet ligger ovenpå */
    }

